<form [formGroup]="bookmarkForm">
  <div class="container">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="details">
          <div class="header-container">
            <ng-container *ngIf="!bookmarkId">
              <h3 class="title">Create new bookmark</h3>
              <h4 class="sub-title">Type bookmark name and URL</h4>
            </ng-container>
            <ng-container *ngIf="bookmarkId">
              <h3 class="title">Edit bookmark</h3>
              <h4 class="sub-title">Add new values</h4>
            </ng-container>
            <i class="material-icons">bookmark</i>
          </div>
          <div class="form-container">
            <mat-form-field class="form-field">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Google" formControlName="name" />
            </mat-form-field>

            <mat-form-field class="form-field">
              <mat-label>URL</mat-label>
              <input
                matInput
                placeholder="https://google.com"
                formControlName="link"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="!bookmarkId" mat-button (click)="addBookmark()">
          Create
        </button>
        <button *ngIf="bookmarkId" mat-button (click)="editBookmark()">
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
